<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head(pageTitle='Cập nhật liên hệ')"/>

<body>
<!-- container section start -->
<section id="container" class="">
    <!--header start-->
    <!--header start-->
    <header th:replace="fragments :: bar"></header>
    <aside th:replace="fragments :: menu"></aside>

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header" style="font-family: arial;"><i class="fa fa-files-o"></i> Cập nhật liên hệ
                    </h3>
                    <ol class="breadcrumb" style="font-family: arial;">
                        <li><a th:href="@{/admin}">Trang chủ</a></li>
                        <li><a th:href="@{/admin/contact}">Liên hệ</a></li>
                        <li>Cập nhật Liên hệ</li>
                    </ol>
                </div>
            </div>
            <!-- Form validations -->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="form">
                                <th:block th:if="${param.existed != null}">
                                    <br>
                                    <h5 style="text-align: center;">Contact Existed !</h5>
                                </th:block>

                                <th:block th:if="${param.invalid != null}">
                                    <br>
                                    <h5 style="text-align: center;">Field Not Empty !</h5>
                                </th:block>
                                <form id="formSubmit" class="form-validate form-horizontal" action="#"
                                      th:action="@{/admin/contact}" th:object="${contact}" method="post">
                                    <div class="form-group ">
                                        <label for="id" class="control-label col-lg-2">ID<span class="required">*</span></label>
                                        <div class="col-lg-10">
                                            <input th:field="*{id}" class="form-control" id="id" name="id" type="text"
                                                   required readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="name" class="control-label col-lg-2">Name<span
                                                class="required">*</span></label>
                                        <div class="col-lg-10">
                                            <input th:field="*{name}" class="form-control" id="name" name="name"
                                                   type="text" required/>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="email" class="control-label col-lg-2">Email<span
                                                class="required">*</span></label>
                                        <div class="col-lg-10">
                                            <input type="email" th:field="*{email}" class="form-control" id="email"
                                                   name="email" required/>
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <label for="phone" class="control-label col-lg-2">Phone<span
                                                class="required">*</span></label>
                                        <div class="col-lg-10">
                                            <input th:field="*{phone}" class="form-control" id="phone" name="phone" pattern="0[3|5|6|8|9][0-9]{4}[0-9]{4}"
                                                   type="text" required/>
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <label for="address" class="control-label col-lg-2">Address<span
                                                class="required">*</span></label>
                                        <div class="col-lg-10">
                                            <input th:field="*{address}" class="form-control" id="address"
                                                   name="address" type="text" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button id="btnUpdate" class="btn btn-primary" type="button">Cập nhật</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->

</section>
<!-- container section end -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $('#btnUpdate').click(function (e) {
        e.preventDefault();
        var data = {};
        var formData = $('#formSubmit').serializeArray();
        $.each(formData, function (i, v) {
            data["" + v.name + ""] = v.value;
        });
        updateContact(data);
    });

    function updateContact(data){
        $.ajax({
            type: "PUT",
            contentType: "application/json",
            url: "http://localhost:8080/api/contact/"+data.id,
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (result) {
                alert("Cập nhật thành công liên hệ "+result.name);
            },
            error: function (e){
                alert("Cập nhật không thành công ");
            }
        });
    }
</script>

</body>

</html>