<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head(pageTitle='Quản lý tài khoản')"/>

<body>

<!-- container section start -->
<section id="container" class="">
    <header th:replace="fragments :: bar"></header>
    <aside th:replace="fragments :: menu"></aside>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header" style="font-family: arial;">
                        <i class="fa fa-gift"></i> Danh sách tài khoản
                    </h3>
                    <ol class="breadcrumb" style="font-family: arial;">
                        <li><a th:href="@{/admin}">Trang chủ</a></li>
                        <li>Liên hệ</li>
                    </ol>
                </div>
            </div>
            <!-- page start-->
            <div class="row">
                <div class="col-lg-12">
                    <div style="display: flex; justify-content: space-between; margin-bottom: 1.5rem">
                        <div>
                            <input type="text" id="searchByName" name="searchByName" placeholder="Nhập username...">
                            <input type="button" id="btnSearch" value="Tìm kiếm"/>
                        </div>
                        <div style="margin-right: 5rem;">
                            <input type="button" id="viewAll" value="Reset"/>
                        </div>
                    </div>
                    <form id="formSubmit" action="#" method="get">
                        <section class="panel">
                            <table class="table table-striped table-advance table-hover"
                                   style="font-family: arial;">
                                <thead>
                                    <th style="text-align: center;">ID</th>
                                    <th style="text-align: center;">UserName</th>
                                    <th style="text-align: center;">FullName</th>
                                    <th style="text-align: center;">Email</th>
                                    <th style="text-align: center;">Phone</th>
                                    <th style="text-align: center;">Address</th>
                                    <th style="text-align: center;">Enable</th>
                                    <th colspan="2" style="text-align: center;">Action</th>
                                </thead>
                                <tbody class="row-data">

                                </tbody>
                            </table>
                            <br>
                        </section>
                        <div id="addPagi"></div>
                        <input type="hidden" id="pageNo" name="pageNo" value=""/>
                    </form>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->

</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script src="/paging/jquery.twbsPagination.js"></script>
<script src="/paging/jquery.twbsPagination.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#viewAll').click(function () {
            ajaxGet(1);
            $('#addPagi').children("#paginationSearch").remove();
            $('#searchByName').val('');
        });

        ajaxGet(1);

        //get contact all
        function ajaxGet(pageNo) {
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "http://localhost:8080/api/user/" + pageNo,
                success: function (result) {
                    let pagi = `<ul class="paginationGet" id="paginationGet"></ul>`;
                    $('#addPagi').append(pagi);
                    $('#page').val(pageNo);

                    $('.row-data').html('');
                    $.each(result.content, function (index, user) {
                        let row = `<tr style="text-align: center;">
                                    <td>${user.id}</td>
                                    <td>${user.userName}</td>
                                    <td>${user.fullName}</td>
                                    <td>${user.email}</td>
                                    <td>${user.phone}</td>
                                    <td>${user.address}</td>
                                    <td>${user.isEnable ? 'Hoạt động' : 'Không hoạt động'}</td>
                                    <td>
                                        <input type="hidden" id="Id_${user.id}" value="${user.id}">
                                        <div class="btn-group">
                                            <a class="btn btn-primary"
                                               href="/admin/user/${user.id}">Update</a>
                                            <a class="btn btn-danger btnxoa">Disable</a>
                                        </div>
                                    </td>
                                </tr>`;
                        $('.row-data').append(row);
                    });

                    pagination(result.totalPages, pageNo, ajaxGet);

                },
                error: function (e) {
                    alert("Error: ", e);
                    console.log("Error", e);
                }
            });
        };

        function pagination(totalPages, currentPage, ajaxGet) {
            $('#paginationGet').twbsPagination('destroy');
            $('#paginationGet').twbsPagination({
                totalPages: totalPages,
                visiblePages: 3,
                startPage: currentPage,
                onPageClick: function (event, page) {
                    if (currentPage !== page) {
                        ajaxGet(page);
                    }
                }
            });
        };

        $(document).on('click', '#btnSearch', function () {
            var key = $('#searchByName').val();
            if (key.trim() != '') {
                var searchByName = $('#searchByName').val();
                ajaxGetName(1, searchByName);
            } else {
                alert('Bạn chưa nhập từ khóa');
            }
        });

        //search name
        function ajaxGetName(pageNo, searchByName) {
            console.log(searchByName);
            if (searchByName.trim() != '') {
                $.ajax({
                    type: "GET",
                    contentType: "application/json",
                    url: "http://localhost:8080/api/user/" + pageNo + "/" + searchByName,
                    success: function (result) {
                        if (result.totalElements > 0){
                            $('#addPagi').children("#paginationGet").remove();

                            $('#searchByName').val(searchByName);
                            let pagi = `<ul class="paginationSearch" id="paginationSearch"></ul>`;
                            $('#addPagi').append(pagi);
                            $('#page').val(pageNo);
                            $('#total').val(result.totalPages);

                            $('.row-data').html('');
                            $.each(result.content, function (index, user) {
                                let row = `<tr style="text-align: center;">
                                    <td>${user.id}</td>
                                    <td>${user.userName}</td>
                                    <td>${user.fullName}</td>
                                    <td>${user.email}</td>
                                    <td>${user.phone}</td>
                                    <td>${user.address}</td>
                                    <td>${user.isEnable ? 'Hoạt động' : 'Không hoạt động'}</td>
                                    <td>
                                        <input type="hidden" id="Id_${user.id}" value="${user.id}">
                                        <div class="btn-group">
                                            <a class="btn btn-primary"
                                               href="/admin/user/${user.id}">Update</a>
                                            <a class="btn btn-danger btnxoa">Disable</a>
                                        </div>
                                    </td>
                                </tr>`;
                                $('.row-data').append(row);
                            });

                            paginationName(result.totalPages, pageNo, searchByName, ajaxGetName);
                        }else{
                            alert("Không user nào được tìm thấy với từ khóa "+searchByName);
                            ajaxGet(1);
                            $('#searchByName').val('');
                        }
                    },
                    error: function (e) {
                        alert("Lỗi hệ thống");
                        console.log("Lỗi tìm kiếm");
                    }
                });
            }
        }

        function paginationName(totalPages, currentPage, searchName, ajaxGetName) {
            $('#paginationSearch').twbsPagination('destroy');
            $('#paginationSearch').twbsPagination({
                totalPages: totalPages,
                visiblePages: 3,
                startPage: currentPage,
                onPageClick: function (event, page) {
                    var search = $('#searchByName').val();
                    if (currentPage !== page) {
                        ajaxGetName(page, search);
                    }
                }
            });
        };

        //delete contact
        $(document).on("click", ".btnxoa", function () {
            var id = $(this).parent().prev().val();
            var confirmation = confirm("Bạn chắc chắn vô hiệu hóa khoản này ?");
            if (confirmation) {
                $.ajax({
                    type: "DELETE",
                    async: false,
                    contentType: "application/json",
                    url: "http://localhost:8080/api/user/" + id,
                    success: function (result) {
                        if (result.deleted == true) {
                            alert("Vô hiệu hóa thành công tài khoản");
                            $('#searchByName').val('');
                            ajaxGet(1);
                        }
                    },
                    error: function (e) {
                        alert("Error: ", e);
                        console.log("Error", e);
                    }
                });
            }
        });

    });
</script>

</body>
</html>