<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments_user :: html_head(title = 'Cập nhật tài khoản')"></head>

<body>
    <!-- Offcanvas Menu Begin -->
    <div th:replace="fragments_user :: menu_begin"></div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header th:replace="fragments_user :: header"></header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div th:replace="fragments_user :: breadcrumb(href = './index.html', content = 'Cập nhật tài khoản')"></div>
    <!-- Breadcrumb End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__content">
                        <div class="contact__form">
                            <h5>Cập nhật thông tin</h5>
                            <form action="#" th:action="@{/user}" th:object="${user}" method="post">
                                <input type="hidden" th:field="*{id}" name="id">
                                <input type="text" th:field="*{userName}" name="userName" placeholder="Username" required readonly>
                                <input type="text" th:field="*{fullName}" name="fullName" placeholder="Tên đầy đủ" required>
                                <input type="email" th:field="*{email}" name="email" placeholder="Email" required>
                                <input type="text" th:field="*{phone}" name="phone" placeholder="Điện thoại" required>
                                <input type="text" th:field="*{address}" name="address" placeholder="Địa chỉ" required>
                                <button type="submit" class="site-btn" th:disabled="${error != null}">Cập nhật</button>
                            </form>
                            <br>
                            <a th:href="@{/user/change-password}">Đổi mật khẩu</a>
                            <br>
                            <th:block th:if="${error != null}">
                                <br>
                                <h5>[[${error}]]</h5>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.4556912348426!2d105.73295331424576!3d21.054454392278057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345457e292d5bf%3A0x20ac91c94d74439a!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2hp4buHcCBIw6AgTuG7mWk!5e0!3m2!1svi!2s!4v1600950060327!5m2!1svi!2s"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <div th:replace="fragments_user :: instagram"></div>

    <footer th:replace="fragments_user :: footer"></footer>

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->`

    <div th:replace="fragments_user :: script"></div>
</body>

</html>