<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments_user :: html_head (title='Trang chủ')"></head>

<body>
    <!-- Offcanvas Menu Begin -->
    <div th:replace="fragments_user :: menu_begin"></div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header th:replace="fragments_user :: header"></header>
    <!-- Header Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid" th:if="${listBanner != null}">
            <div class="row">
                <div class="col-lg-6 p-0" th:with="firstBanner = ${listBanner[0]}">
                    <div class="categories__item categories__large__item set-bg" th:data-setbg="${firstBanner.image}" style="background-image: url(&quot;../web/img/banner/con2.jpg&quot;);">
                        <div class="categories__text">
                            <h1 th:text="${firstBanner.title}"></h1>
                            <p th:text="${firstBanner.desciption}"></p>
                            <a th:href="${firstBanner.url}">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 p-0" th:each="b,num : ${listBanner}" th:if="${num.count >= 2 and num.count <= 5}">
                                <div class="banner-item">
                                <div class="categories__item set-bg" th:data-setbg="${b.image}" style="background-image: url(&quot;../web/img/banner/nike.jpg&quot;);">
                                    <div class="categories__text">
                                        <h4 th:text="${b.title}"></h4>
                                        <p ${b.desciption}></p>
                                        <a th:href="${b.url}">Shop now</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

 <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>Sản phẩm mới</h4>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">

                </div>
            </div>
            <div class="row property__gallery" id="MixItUpCEC7D72">
            
                <div class="col-lg-3 col-md-4 col-sm-6 mix women" th:each = "p : ${listNews}">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" th:data-setbg="${p.image1}"   th:style="'background-image: url(' + ${p.image1} + ');'">
                            <div class="label new">New</div>
                            <ul class="product__hover">
                                <li><a th:href="${p.image1}" class="image-popup"><span
                                        class="arrow_expand"></span></a></li>
                                <li><a th:href="@{'/wishlist/' + ${p.id}}"><span class="icon_heart_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a th:href="@{'/product/' +${p.id}}">[[${p.name}]]</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price" th:if= "${p.sale == 0}">[[${#numbers.formatDecimal(p.price, 3, 'COMMA', 0, 'POINT')}]] VNĐ</div>
                            <div class="product__price" th:unless= "${p.sale == 0}">[[${#numbers.formatDecimal(p.sale, 3, 'COMMA', 0, 'POINT')}]] VNĐ  <span>[[${#numbers.formatDecimal(p.price, 3, 'COMMA', 0, 'POINT')}]] VNĐ</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="product spad">
        <div class="container" th:if="${listNikeShoes != null && !listNikeShoes.empty}">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>Nike</h4>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">

                </div>
            </div>
            
            <div class="row property__gallery" id="MixItUpCEC7D7">
 				<div class="col-lg-3 col-md-4 col-sm-6 mix men" th:each = "p : ${listNikeShoes}">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" th:data-setbg="${p.image1}"  th:style="'background-image: url(' + ${p.image1} + ');'">
                            <div class="label sale" th:if= "${p.sale != 0}">Sale</div>
                            <ul class="product__hover">
                                 <li><a th:href="${p.image1}" class="image-popup"><span
                                        class="arrow_expand"></span></a></li>
                                <li><a th:href="@{'/wishlist/' + ${p.id}}"><span class="icon_heart_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                           <h6><a th:href="@{'/product/' +${p.id}}">[[${p.name}]]</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price" th:if= "${p.sale == 0}">[[${#numbers.formatDecimal(p.price, 3, 'COMMA', 0, 'POINT')}]] VNĐ</div>
                            <div class="product__price" th:unless= "${p.sale == 0}">[[${#numbers.formatDecimal(p.sale, 3, 'COMMA', 0, 'POINT')}]] VNĐ <span>[[${#numbers.formatDecimal(p.price, 3, 'COMMA', 0, 'POINT')}]] VNĐ</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" th:if="${listAdidasShoes != null && !listAdidasShoes.empty}">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>Adidas</h4>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">

                </div>
            </div>

            <div class="row property__gallery" id="MixItUpCEC7D7">

                <div class="col-lg-3 col-md-4 col-sm-6 mix men" th:each = "p : ${listAdidasShoes}">

                    <div class="product__item">
                        <div class="product__item__pic set-bg" th:data-setbg="${p.image1}"  th:style="'background-image: url(' + ${p.image1} + ');'">
                            <div class="label sale" th:if= "${p.sale != 0}">Sale</div>
                            <ul class="product__hover">
                                <li><a th:href="${p.image1}" class="image-popup"><span
                                        class="arrow_expand"></span></a></li>
                                <li><a th:href="@{'/wishlist/' + ${p.id}}"><span class="icon_heart_alt"></span></a></li>
                            </ul>
                        </div>

                        <div class="product__item__text">
                            <h6><a th:href="@{'/product/' +${p.id}}">[[${p.name}]]</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price" th:if= "${p.sale == 0}">[[${#numbers.formatDecimal(p.price, 3, 'COMMA', 0, 'POINT')}]] VNĐ</div>
                            <div class="product__price" th:unless= "${p.sale == 0}">[[${#numbers.formatDecimal(p.sale, 3, 'COMMA', 0, 'POINT')}]] VNĐ <span>[[${#numbers.formatDecimal(p.price, 3, 'COMMA', 0, 'POINT')}]] VNĐ</span></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- Product Section End -->

    <!-- Banner Section Begin -->
    <section class="banner set-bg" th:data-setbg="${listBanner[5].image}" style="background-image: url(&quot;../web/img/banner/banner-1.jpg&quot;);">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8 m-auto">
                    <div class="banner__slider owl-carousel owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-1957px, 0px, 0px); transition: all 1.2s ease 0s; width: 4568px;">
                                <div style="display: none; width: 652.5px;" class="owl-item cloned">
                                    <div class="banner__item">
                                        <div class="banner__text">
                                            <span th:text="${listBanner[5].desciption}"></span>
                                            <h1 th:text="${listBanner[5].title}"></h1>
                                            <a th:href="${listBanner[5].url}">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="owl-nav disabled">
                                    <button type="button" role="presentation" class="owl-prev"><span
                                            aria-label="Previous"> < </span></button>
                                    <button type="button" role="presentation" class="owl-next"><span aria-label="Next"> > </span></button>
                                </div>
                                
                                <div class="owl-dots">
                                    <button role="button" class="owl-dot"><span></span></button>
                                    <button role="button" class="owl-dot active"><span></span></button>
                                    <button role="button" class="owl-dot"><span></span></button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->
    

    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-car"></i>
                        <h6>Miễn phí giao hàng</h6>
                        <p>Cho các sản phầm trên 2 triệu vnđ</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-money"></i>
                        <h6>Hoàn tiền</h6>
                        <p>Nếu sản phẩm có vấn đề</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-support"></i>
                        <h6>Hỗ trợ 24/7</h6>
                        <p>Dịch vụ hỗ trợ nhiệt tình</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-headphones"></i>
                        <h6>Giao dịch bảo mật</h6>
                        <p>100% giao dịch được bảo đảm</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <div th:replace="fragments_user :: instagram"></div>

    <footer th:replace="fragments_user :: footer"></footer>

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->`

    <div th:replace="fragments_user :: script"></div>

</body>

</html>