<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments_user :: html_head(title = 'Chi tiết sản phẩm')"></head>

<body>
    <!-- Offcanvas Menu Begin -->
    <div th:replace="fragments_user :: menu_begin"></div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header th:replace="fragments_user :: header"></header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="#">Converse</a>
                        <span>CONVERSE CHUCK TAYLOR ALL STAR GAMER LOW-TOP</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll" style="overflow-y: hidden; outline: none; cursor: grab; touch-action: none;">
                            <a class="pt active" href="#product-1">
                                <img data-cfsrc="../web/img/product/details/thumb-1.jpg" alt="" src="../web/img/product/details/thumb-1.jpg">
                            </a>
                            <a class="pt" href="#product-2">
                                <img data-cfsrc="../web/img/product/details/thumb-2.jpg" alt="" src="../web/img/product/details/thumb-2.jpg">
                            </a>
                            <a class="pt" href="#product-3">
                                <img data-cfsrc="../web/mg/product/details/thumb-3.jpg" alt="" src="../web/img/product/details/thumb-3.jpg">
                            </a>
                            <a class="pt" href="#product-4">
                                <img data-cfsrc="../web/img/product/details/thumb-4.jpg" alt="" src="../web/img/product/details/thumb-4.jpg">
                            </a>
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel owl-loaded">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3304px;">
                                        <div class="owl-item active" style="width: 412.891px;"><img data-hash="product-1" class="product__big__img" data-cfsrc="../ser/img/product/details/thumb-1.jpg" alt="" src="../web/img/product/details/thumb-1.jpg">
                                        </div>
                                        <div class="owl-item" style="width: 412.891px;"><noscript><img
                                                data-hash="product-1" class="product__big__img"
                                                src="../web/img/product/details/thumb-1.jpg" alt=""></noscript></div>
                                        <div class="owl-item" style="width: 412.891px;"><img data-hash="product-2" class="product__big__img" data-cfsrc="../web/img/product/details/thumb-3.jpg" alt="" src="../web/img/product/details/thumb-3.jpg">
                                        </div>
                                        <div class="owl-item" style="width: 412.891px;"><noscript><img
                                                data-hash="product-2" class="product__big__img"
                                                src="../web/img/product/details/product-3.jpg" alt=""></noscript></div>
                                        <div class="owl-item" style="width: 412.891px;"><img data-hash="product-3" class="product__big__img" data-cfsrc="../usre/img/product/details/product-2.jpg" alt="" src="https://preview.colorlib.com/theme/ashion/img/product/details/product-2.jpg">
                                        </div>
                                        <div class="owl-item" style="width: 412.891px;"><noscript><img
                                                data-hash="product-3" class="product__big__img"
                                                src="../web/img/product/details/product-2.jpg" alt=""></noscript></div>
                                        <div class="owl-item" style="width: 412.891px;"><img data-hash="product-4" class="product__big__img" data-cfsrc="../web/img/product/details/product-4.jpg" alt="" src="https://preview.colorlib.com/theme/ashion/img/product/details/product-4.jpg">
                                        </div>
                                        <div class="owl-item" style="width: 412.891px;"><noscript><img
                                                data-hash="product-4" class="product__big__img"
                                                src="../web/img/product/details/product-4.jpg" alt=""></noscript></div>
                                    </div>
                                </div>
                                <div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="arrow_carrot-left"></i></button><button type="button" role="presentation" class="owl-next"><i
                                        class="arrow_carrot-right"></i></button></div>
                                <div class="owl-dots disabled"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>CONVERSE CHUCK TAYLOR ALL STAR GAMER LOW-TOP<span>Brand: Converse</span></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 reviews )</span>
                        </div>
                        <div class="product__details__price">1300000 đ<span>1600000 đ</span></div>
                        <p>Nemo enim ipsam voluptatem quia aspernatur aut odit aut loret fugit, sed quia consequuntur magni lores eos qui ratione voluptatem sequi nesciunt.</p>
                        <div class="product__details__button">
                            <div class="quantity">
                                <span>Số lượng:</span>
                                <div class="pro-qty"><span class="dec qtybtn">-</span>
                                    <input type="text" value="1">
                                    <span class="inc qtybtn">+</span>
                                </div>
                            </div>
                            <a href="#" class="cart-btn"><span class="icon_bag_alt"></span> Thêm vào giỏ hàng</a>
                            <ul>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_adjust-horiz"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Tình trạng:</span>
                                    <div class="stock__checkbox">
                                        <label for="stockin">
                                            In Stock
                                            <input type="checkbox" id="stockin">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Màu:</span>
                                    <div class="color__checkbox">
                                        <label for="red">
                                            <input type="radio" name="color__radio" id="red" checked="">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label for="black">
                                            <input type="radio" name="color__radio" id="black">
                                            <span class="checkmark black-bg"></span>
                                        </label>
                                        <label for="grey">
                                            <input type="radio" name="color__radio" id="grey">
                                            <span class="checkmark grey-bg"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Available size:</span>
                                    <div class="size__btn">
                                        <label for="xs-btn" class="active">
                                            <input type="radio" id="xs-btn">
                                            36
                                        </label>
                                        <label for="s-btn">
                                            <input type="radio" id="s-btn">
                                            3737
                                        </label>
                                        <label for="m-btn">
                                            <input type="radio" id="m-btn">
                                            3838
                                        </label>
                                        <label for="l-btn">
                                            <input type="radio" id="l-btn">
                                            3939
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Ưu đãi:</span>
                                    <p>Free shipping</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Mô tả</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Đặc biệt</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Đánh giá ( 2 )</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Mô tả</h6>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret. Neque porro lorem quisquam est, qui dolorem ipsum quia
                                    dolor si. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla consequat massa quis enim.</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                                    nec, pellentesque eu, pretium quis, sem.</p>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Đặc biệt</h6>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret. Neque porro lorem quisquam est, qui dolorem ipsum quia
                                    dolor si. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla consequat massa quis enim.</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                                    nec, pellentesque eu, pretium quis, sem.</p>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <h6>Đánh giág( 2 )</h6>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret. Neque porro lorem quisquam est, qui dolorem ipsum quia
                                    dolor si. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla consequat massa quis enim.</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                                    nec, pellentesque eu, pretium quis, sem.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>Có thể bạn sẽ thích</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="../web/img/product/related/con5.jpg" style="background-image: url(&quot;../web/img/product/related/con5.jpg&quot;);">
                            <div class="label new">New</div>
                            <ul class="product__hover">
                                <li><a href="../web/img/product/related/con1.jpg" class="image-popup"><span
                                        class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Buttons tweed blazer</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">1300000 đ</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="../web/img/product/related/con6.jpg" style="background-image: url(&quot;../web/img/product/related/con6.jpg&quot;);">
                            <ul class="product__hover">
                                <li><a href="../web/img/product/related/con2.jpg" class="image-popup"><span
                                        class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Flowy striped skirt</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">1300000 đ</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="../web/img/product/related/con7.jpg" style="background-image: url(&quot;../web/img/product/related/con7.jpg&quot;);">
                            <div class="label stockout">out of stock</div>
                            <ul class="product__hover">
                                <li><a href="../web/img/product/related/con3.jpg" class="image-popup"><span
                                        class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Cotton T-Shirt</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">1300000 đ</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="../web/img/product/related/con8.jpg" style="background-image: url(&quot;../web/img/product/related/con8.jpg&quot;);">
                            <ul class="product__hover">
                                <li><a href="../web/img/product/related/con4.jpg" class="image-popup"><span
                                        class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Slim striped pocket shirt</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">1300000 đ</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Instagram Begin -->
    <div th:replace="fragments_user :: instagram"></div>
    <!-- Instagram End -->

    <!-- Footer Section Begin -->
    <footer th:replace="fragments_user :: footer"></footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->`

    <!-- Js Plugins -->
    <div th:replace="fragments_user :: script"></div>
    <!-- Js Plugins -->
</body>

</html>