<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments_user :: html_head(title = 'Sản phẩm')"></head>

<body>
    <!-- Offcanvas Menu Begin -->
    <div th:replace="fragments_user :: menu_begin"></div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header th:replace="fragments_user :: header"></header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div th:replace="fragments_user :: breadcrumb(href = './index.html', content = 'Shop')"></div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="shop__sidebar">
                        <div class="sidebar__categories">
                            <div class="section-title">
                                <h4>Thư viện giày</h4>
                            </div>
                            <div class="categories__accordion">
                                <div class="accordion" id="accordionExample">
                                
                                    <div class="card">
                                        <div class="card-heading active">
                                            <a data-toggle="collapse" data-target="#collapseOne">Hãng</a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    <li th:each="b : ${listBrand}">
                                                    <a th:href="@{'/product/page/1' + '?brand='+${b.id} + ${category != null ? '&category=' + category : ''} + ${keyword != null ? '&keyword=' + keyword : ''} + ${minAmount != null ? '&minAmount=' + minAmount : ''} + ${maxAmount != null ? '&maxAmount=' + maxAmount : ''}}">
                                                    [[${b.name}]]
                                                    </a>
                                                    </li>                                                 
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseTwo">Loại</a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    <li th:each="c : ${listCategory}">
                                                    <a th:href="@{'/product/page/1' + '?category=' + ${c.id} + ${brand != null ? '&brand=' + brand : ''} + ${keyword != null ? '&keyword=' + keyword : ''} + ${minAmount != null ? '&minAmount=' + minAmount : ''} + ${maxAmount != null ? '&maxAmount=' + maxAmount : ''}}">
                                                    [[${c.name}]]
                                                    </a>
                                                    </li>   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="sidebar__filter">
                            <div class="section-title">
                                <h4>Tìm theo giá(1-50Tr)</h4>
                            </div> 
                            <form th:action="@{/product/page/1}">                       
                            <div class="filter-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-min="0" data-max="50000000"></div>                               
                                <div class="range-slider">
                                    <div class="price-input">
                                        <p>Giá:</p>
                                        <input type="text" th:value="${minAmount}" id="minamount" name="minAmount" style="max-width: 40%" > 
                                        <input type="text" th:value="${maxAmount}" id="maxamount" name="maxAmount" style="max-width: 40%">
                                    </div>
                                </div>
                            </div>
                           <input class="btn btn-danger" type="submit" value="Lọc"/>
                            </form>  
                        </div>
                        
          <!--     <div class="sidebar__sizes">
                            <div class="section-title">
                                <h4>Shop by size</h4>
                            </div>
                            <div class="size__list">
                                <label for="xxs">
                                    36
                                    <input type="checkbox" id="xxs">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="xs">
                                    37
                                    <input type="checkbox" id="xs">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="xss">
                                    38
                                    <input type="checkbox" id="xss">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="s">
                                    39
                                    <input type="checkbox" id="s">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="m">
                                    40
                                    <input type="checkbox" id="m">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="ml">
                                    41
                                    <input type="checkbox" id="ml">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="l">
                                    42
                                    <input type="checkbox" id="l">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="xl">
                                    43
                                    <input type="checkbox" id="xl">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>  -->


                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                
                 <form class="navbar-form" th:action="@{/product/page/1}">
                     <span> <input class="form-control" placeholder="Tìm kiếm" name="keyword" th:value="${keyword}" type="text" style="width : 85%; display: inline-block; margin-bottom: 20px;" required/>
                      		<input class="btn btn-warning" type="submit" value="Tìm kiếm"/>
                     </span>
              	</form>
                        
                    <div class="row">
                                                          
                        <div class="col-lg-4 col-md-6" th:each = "p : ${listProduct}">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" th:data-setbg="${p.image1}"  th:style="'background-image: url(' + ${p.image1} + ');'">
                            		<div class="label sale" th:if= "${p.sale != 0}">Sale</div>
                                    <ul class="product__hover">
                                        <li><a th:href="${p.image1}" class="image-popup"><span
                                                class="arrow_expand"></span></a></li>
                                        <li><a th:href="@{'/wishlist/' + ${p.id}}"><span class="icon_heart_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a th:href="@{'/product/' + ${p.id}}">[[${p.name}]]</a></h6>
                                    <div class="product__price" th:if= "${p.sale == 0}">[[${#numbers.formatDecimal(p.price, 3, 'COMMA', 0, 'POINT')}]] VNĐ</div>
                                    <div class="product__price" th:unless= "${p.sale == 0}">[[${#numbers.formatDecimal(p.sale, 3, 'COMMA', 0, 'POINT')}]] VNĐ  <span>[[${#numbers.formatDecimal(p.price, 3, 'COMMA', 0, 'POINT')}]] VNĐ</span></div>
                                </div>
                            </div>
                        </div>
                                              
                        <div class="col-lg-12 text-center" th:if="${totalPages > 1}">
                            <div class="pagination__option">
                             <a th:if="${currentPage > 1}" th:href="@{'/product/page/' + ${currentPage - 1}} + '?keyword=' + ${keyword != null ?  keyword : ''} + ${category != null ? '&category=' + category : ''} + ${brand != null ? '&brand=' + brand : ''} + ${minAmount != null ? '&minAmount=' + minAmount : ''} + ${maxAmount != null ? '&maxAmount=' + maxAmount : ''}" >
                             <i class="fa fa-angle-left"></i>
                             </a>
                             
                            	<span th:each="i: ${#numbers.sequence(1, totalPages)}">
                            	 	<a th:if="${currentPage != i}" th:href="@{'/product/page/' + ${i}} + '?keyword=' + ${keyword != null ?  keyword : ''} + ${category != null ? '&category=' + category : ''} + ${brand != null ? '&brand=' + brand : ''} + ${minAmount != null ? '&minAmount=' + minAmount : ''} + ${maxAmount != null ? '&maxAmount=' + maxAmount : ''}">
                            	 	[[${i}]]
                            	 	</a>							
   						 			<span th:unless="${currentPage !=i}" style="font-family: arial; font-size: 18px;">[[${i}]]</span> &nbsp; &nbsp; 
                        		</span>
                        		
                                <a th:if="${currentPage < totalPages}" th:href="@{'/product/page/' + ${currentPage + 1}} + '?keyword=' + ${keyword != null ?  keyword : ''} + ${category != null ? '&category=' + category : ''} + ${brand != null ? '&brand=' + brand : ''} + ${minAmount != null ? '&minAmount=' + minAmount : ''} + ${maxAmount != null ? '&maxAmount=' + maxAmount : ''}">
                                <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        
                    </div>                
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

    <div th:replace="fragments_user :: instagram"></div>

    <footer th:replace="fragments_user :: footer"></footer>

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->`

    <div th:replace="fragments_user :: script"></div>
    
    <script type="text/javascript">
    	var minAmount
    </script>
</body>

</html>